<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> 様</p>
    <p>
      京音Webサイトをご利用いただきありがとうございます。<br>
      パスワードの再設定は以下のリンクからお願いします。<br>
      <br>
      <%= @url %>
      <br>
      Webページを開<br>
      http://studio-hummingbird.com/<br>
      <br>
      ※このメールは返信しても届きません
    </p>
  </body>
</html>
