<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> 様</p>
    <p>
      京音Webサイトをご利用いただきありがとうございます。<br>
      下記内容で宿泊予約が完了しました。<br>
      <br>
      ◆予約内容<br>
      部屋名　　　　：<%= @stayroom_reserve.stayroom.name %><br>
      チェックイン　：<%= @stayroom_reserve.checkin_date.strftime('%Y年%m月%d日') %><br>
      チェックアウト：<%= @stayroom_reserve.checkout_date.strftime('%Y年%m月%d日') %><br>
      <br>
    </p>
    <div>
      <p>※宿泊部屋使用についての諸注意</p>
      <p>①使用後の掃除のお願い</p>
      <p>
        ・床をクイックルワイパーにて清掃をお願いします。<br>
        ・お風呂を使用した場合、排水溝の掃除をお願いします。<br>
        ・布団を整えてください。<br>
        ・ゴミは各自お持ち帰りください。<br>
        ・トイレの清掃をお願いします。<br>
        ・洗面所の清掃をお願いします。<br>
        ・清掃用具は宿泊部屋前の棚に入っています。（使用後は元の場所に戻すようお願いします。）<br>
      </p>
      <p>②鍵の管理について</p>
      <p>
        ・会長がいる場合は直接鍵を受け取ってください。<br>
        ・会長がいない場合は管理人室ポストから鍵を受け取ってください。<br>
        ・帰宅時、鍵は管理人ポストに入れてください。<br>
      </p>
    </div>
    <p>
      ※予約のキャンセルはマイページから可能です
    </p>
  </body>
</html>
