.single-container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 100px 10px;
  min-height: calc(100vh - 140px);
}

.double-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 10px;
  min-height: calc(100vh - 240px);
  &--left {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
  }
  &--right {
    width: 73%;
    box-sizing: border-box;
    padding: 10px;
  }
}

.auth-container {
  width: 600px;
  margin: 0 auto;
  padding: 30px 0;
  box-shadow: 10px 10px 10px rgba(70, 70, 70, 0.2);
  background: #FFF;
  .form-container {
    padding: 10px 80px;
  }
}

.main-title {
  font-size: 30px;
  font-weight: bold;
}

.sub-title {
  font-size: 24px;
  margin: 20px 0;
}

.text-center {
  text-align: center;
}

.default-button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(70deg, rgb(238, 120, 91), var(--accent-color));
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.cancel-button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(70deg, rgb(204, 17, 157), #e46c6c);
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  font-size: 2rem;
  float: right;
  color: gray;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-item{
  width:  90%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: left;
  p {
    text-align: left;
    font-size: 20px;
    margin: 5px;
  }
  .default-input {
    width: 100%;
    padding: 5px;
    display: inline-block;
    margin: 0 auto;
    border: none;
    outline: none;
    border-bottom: 2px solid;
  }
  input:focus {
    border-bottom: 2px solid var(--accent-color);
  }
  textarea {
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 5px;
  }
  .checkbox {
    margin-left: 10px;
  }
  label {
    margin-left: 10px;
  }
}

.error-messages {
  margin: 0 auto;
  width: 60%;
  background: rgb(241, 202, 202);
  li {
    color: rgb(240, 48, 48);
    padding: 5px;
    margin-left: 10px;
  }
}

.comming-soon {
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  color: #888;
}

.tabs {
  display: flex;
  justify-content: space-between;
  &--tab {
    width: 50%;
    padding: 10px;
    background: #888;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  &--tab.active {
    background: #FFF;
    color: #333;
    border-top: 2px solid var(--accent-color);
  }
}

.nothing-msg {
  font-size: 20px;
  color: #888;
  text-align: center;
  padding: 20px;
}

.some-updown-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-icon {
  width: 30px;
}

.small-icon {
  width: 12px;
  display: inline-block;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.edit-btn {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin: 5px;
  cursor: pointer;
  svg {
    width: 15px;
    margin-right: 5px;
  }
  &:hover {
    color: var(--accent-color);
  }
}
.delete-btn {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin: 5px;
  cursor: pointer;
  svg {
    width: 15px;
    margin-right: 5px;
  }
  &:hover {
    color: red;
  }
}