.fade-default-enter-from,
.fade-default-leave-to {
  opacity: 0;
}
.fade-default-enter-active,
.fade-default-leave-active {
  transition: opacity .5s;
}
.fade-default-enter-to,
.fade-default-leave-from {
  opacity: 1;
}

.fade-slow-enter-from,
.fade-slow-leave-to {
  opacity: 0;
}
.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity 1.5s;
}
.fade-slow-enter-to,
.fade-slow-leave-from {
  opacity: 1;
}

.slide-enter-from, .slide-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.slide-enter-to, .slide-leave-from {
  transform: translateX(0);
}
.slide-enter-active, .slide-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
