:root {
  // color
  --main-color: #333;
  --accent-color: #13b1c0;
  --gradation-color: rgb(85, 85, 236);
  --base-color: rgb(245, 245, 245);
  --line-color: #07b53b;
  --saturday-color: rgb(129, 129, 236);
  --sunday-color: rgb(238, 115, 67);
  // responsive
  --smart-phone-width: 600px;
}